.checkout{
    display: flex;
    width: 100%;
    margin-top: 20px;
}
.checkout .checkout-items h2{
    margin: 10px 0px 20px 20px;
}
.checkout-items{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 20px;
}
.checkout-product{
    display: flex;
    width: 80%;
}
.checkout-product img{
    width: 200px;
    height: 200px;
}
.checkout-product .checkout-product-info{
    margin-left: 70px;
}
.checkout-items .checkout-product .checkout-product-info button{
    background-color: orange;
}